@charset "UTF-8";
/* CSS Document */


img{
	width: 100%;
}

.flexslider{
	max-width: 600px;
	margin: 50px auto;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	border-radius: 100px;
}

.flex-caption{
	position:absolute;
	bottom: 3rem;
	width: 100%;
	background-color: rgba(102,102,102,0.5);
	padding: 1rem;
	margin: 0;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:20px;
	color: rgba(255, 255, 255, 0.8);
}

.flex-direction-nav .flex-prev { left: 10px; }
.flex-direction-nav .flex-next { right: 10px }



