@charset "UTF-8";
/* CSS Document */

html {
	margin-left: 50px;
	
}

.media {
	overflow: hidden;
	
}

.media-img {
	float: left;
	margin: 0 50px 0 0;
}

.media-body {
	overflow: hidden;
	margin-top: 2.2rem;
	margin-right: 25rem;
	font-size: 1rem;
	line-height: 1.0313;
	font-family: 'Gudea', sans-serif;
	color:#666;
}

.media-img-reversed {
	float: right;
	margin: 0 0 0 10 px;
}

.media-img-stacked {
	float: none;
	margin: 0;
		
}


